.screen {
  height: 750px;
  width: 1400px;
  border: 5px solid;
  border-color: green;
}
img {
  width: 50px;
  height: 50px;
}

.top {
  margin-bottom: 100px;
}

.center {
  margin-bottom: 100px;
}
.bottom {
  margin-top: 370px;
}
.left-top {
  padding: 15px 0px 0px 15px;
}

.right-top {
  padding: 15px 15px 0px 0px;
  align-content: right;
  position: absolute;
  right: 0;
}

.center {
  text-align: center;
}

.right-bottom {
  padding: 0px 15px 15px 0px;
  position: absolute;
  right: 0;
}

.left-bottom {
  padding: 0px 0px 15px 15px;
}
